<div class="container-fluid p-4">
  <div class="d-flex flex-wrap gap-3 align-items-center">

    <h1 class="page-title">Mi Perfil</h1>
    <section>
      <button mat-raised-button color="primary" routerLink="datos" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="btn-activo">
        <mat-icon>person</mat-icon> Datos Personales
      </button>

      <button mat-raised-button color="primary" routerLink="experiencia" routerLinkActive="btn-activo">
        <mat-icon>work</mat-icon> Experiencia Laboral
      </button>

      <button mat-raised-button color="primary" routerLink="formacion" routerLinkActive="btn-activo">
        <mat-icon>school</mat-icon> Formación Compl.
      </button>
    </section>
  </div>
  <div class="fade-in-content">
    <router-outlet></router-outlet>
  </div>
</div>