.sidenav-container {
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;/* Importante: Quitamos el scroll global de Material */
}

app-header {
  flex: 0 0 auto; /* El header no crece ni se encoge */
  z-index: 100;
  position: relative;
}

.sidenav {
  width: 250px; /* Ancho fijo del sidebar */
  border-right: 1px solid #e0e0e0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px; /* Misma altura que el toolbar típico */
  border-bottom: 1px solid #e0e0e0;
}

.content-wrapper {
  flex: 1; /* Ocupa todo el espacio sobrante verticalmente */
  overflow-y: auto; /* Aquí es donde ocurre el scroll ahora */
  padding: 20px;
}
