/* Ajuste para que el formulario se vea bien dentro del modal */
mat-form-field {
  width: 100%;
}

h6 {
  font-weight: 600;
  margin-top: 10px;
}

/* Espaciado del contenido del modal */
.mat-dialog-content {
  max-height: 80vh;
  /* Evitar que sea más alto que la pantalla */
  overflow-y: auto;
  /* Scroll si es necesario */
}
