<mat-toolbar><!--color="primary"-->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <div class="logo-section" routerLink="/dashboard">
    <span class="brand-name">SISE</span>
  </div>

   <span class="spacer2"></span>

  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <div mat-subheader class="username-label">{{ username }}</div>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Configurar Cuenta</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>